<section class="index-top">
  <div class="card-container">
    <div class="index-card">
      <h3 class="card-title">What's iGEM?</h3>
      <div class="img" id="img1"></div>
      <div class="card-text">iGEM は MIT によってはじめられた合成生物学の世界大会です。工学と生物の融合をテーマに、合成生物学の手法を用いて ,「社会的な課題を解決」したり「面白い動きをする」微生物を創造し、その独創性を競います。</div>
      <a href="/about-igem/" class="more-button">詳しく見る</a>
    </div>
    <div class="index-card">
      <h3 class="card-title">Our team</h3>
      <div class="img" id="img2"></div>
      <div class="card-text">iGEM UTokyo は iGEM に出場する東大チームです。文科一類から理科三類まで全ての科類出身者が在籍します。iGEM2020 では金賞を目指し活動を行っていて、実験、モデリング、英会話、資金調達（お金が非常にかかるのです！）、非常に幅広い活動をします。</div>
      <a href="/team/" class="more-button">詳しく見る</a>
    </div>
    <div class="index-card">
      <h3 class="card-title">Our project</h3>
      <div class="img" id="img3"></div>
      <div class="card-text">環境中からの有害な金属を除去する微生物を考えています。酵母の膜上に任意の金属結合タンパクを発現させ回収・分離して金属（レアメタルなど）を再利用するアプローチを考えています。</div>
      <a href="/project/" class="more-button">詳しく見る</a>
    </div>
    <div class="index-card">
      <h3 class="card-title">Sponsers</h3>
      <div class="img" id="img4"></div>
      <div class="card-text">iGEM Tokyoは、スポンサーの企業の皆さんのおかげで成り立っています。</div>
      <a href="/sponsers/" class="more-button">詳しく見る</a>
    </div>
  </div>
</section>
<%- partial('_partial/archive', {pagination: 2, index: true}) %>